@model IEnumerable<MC.Website.ViewModels.MovieVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <span class="alert-info">No movie object</span>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Country</th>
                <th>Genre</th>
                <th>Director</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Country</td>
                    <td>@item.Genre</td>
                    <td>@item.DirectorFullName</td>
                </tr>
            }
        </tbody>
    </table>
}